
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.navbar-brand{
    font-family: 'Marck Script', cursive;
    font-weight: 600;
    font-size: 21px;
}
.main_page{
    margin-top: 50px;
}
.media-object{
    width: 100%;
    height: 20%;
    display:block;
}
.media-object:hover{
    cursor: pointer;
}
a,a:hover{
    cursor: pointer;
    text-decoration: none;
}
.pages{
    margin-left: 35%;
}
a.pull-right{
    font-size: 10px;
}
.download{
    color:#fff;
    text-decoration: none;
}
.loading {
    width: auto;
    z-index: 9999;
    box-shadow: 0 110px 0 9999px rgba(13,13,13,.8);
    position: absolute;
    height: 100%;


}
.loading .fa-spinner{
    font-size: 100px;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);;
}
.loading_url{
    text-align: center;
}
button.btn.btn-success {
    /* position: relative; */
    float: right;
}




/*media query*/

@media all and (max-width: 1024px){
    .navbar-form .form-group{
        width: 79% !important;
    }
    .media-object{
        width: 25%;
        height: 30%;
        float: left;
        margin-right: 10px;
    }
    p{
        margin-left: 21%;
        display: -webkit-box;
    }
}

@media all and (max-width: 768px){
    .navbar-form .form-group{
        width: 100% !important;
    }
    .media-object{
        width: 20%;
        height: 45%;
        float: left;
        margin-right: 10px;
    }

    p{margin-left: 22%; display: -webkit-box;}
    a.video_name{
        font-size: 15px;
        display: -webkit-box;
    }
    button#search{
        display: none;
    }
    .main_page {
        margin-top: 30%;
    }
}